.ig, .fb, .wp{
    border-width: 0;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;    
    border-radius: 1rem;
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    max-width: 90vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.ig:hover, .fb:hover, .wp:hover{
    cursor: pointer;
}
.ig{
    background: -webkit-linear-gradient(45deg,#f9ce34, #ee2a7b, #6228d7);
}
.fb{
    background: -webkit-linear-gradient(45deg, #2c67f2, #62cff4);
}
.wp{
    background: -webkit-linear-gradient(45deg, #49c628, #70f570);
}
.hd{
    font-family: "rage italic";
    font-size: 6rem;
    margin-top: 5rem;
    text-align: center;
}
.ids{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.r{
    width: 100vw;
    height: auto;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ip{
    /*font-family: "Sacramento", cursive;*/
    font-family: 'sacramento';
    font-size: 450%;
    color: #fff;
}

@media only screen and (max-width: 600px){

    .pl{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .ig, .fb, .wp{
        margin-bottom: 1rem;
        width: 100%;
        margin-left: 0;
    }
    .r{
        flex-direction: column;
    }
    ip{
        font-size: 350%;
    }
}